@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans 3", sans-serif;
    scroll-behavior: smooth;
}
html,body {
  height: 100%;
  width: 100%;
  background-color: #161616;
}

:root {
    --DRAK-BALCK: #161616;
    --LIGHT-BALCK: #323232;
    --RED:#FF0808;
}

.header{
    display: flex;
    justify-content: center;
}
.nav{
    margin-top: 32px;
    width: 85vw;
    height: 72px;
    background-color: var(--DRAK-BALCK);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul {
    display: inline-flex;
    align-items: flex-start;
    gap: 8px;
    list-style: none;
}
li a{
    color: white;
    text-decoration: none;
    font-size: 22px;
    margin: 0 16px;
}

.logo img {
    width: 210px;
    height: 66.991px;
    flex-shrink: 0;
}
.nav button{
    border-radius: 25px;
    background: #FFF;
    border: none;
    padding: 10px 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #000;
    font-size: 22px;
}
.nav button:hover{
    background-color: #38fd22;
    transition: 0.2s;
    color: white;
}
.mainkamain{
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: var(--DRAK-BALCK);

}
.main{
    width: 85vw;
    display: flex;
    justify-content: space-between;
}

.main h1{
    font-size: 60px;
    font-weight: 900;
    margin-top: 150px;
    color: white;
}

.main p {
    color: white;
    font-size: 40px;
    font-weight: 600;
}

.main img {
    width: 491px;
    height: 491px;
    flex-shrink: 0;
}

.text p{
    margin-top: 80px;
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.mainbutton{
    margin-left: 100px;
    display: flex;
    gap: 40px;
}

.mainbutton button{
    font-size: medium;
    font-weight: 700;
    border-radius: 25px;
    border: none;
    padding: 16px 60px;
}

.redwala{
    background-color: rgb(161, 7, 7);
    color: white;
}
.redwala:hover{
    background-color: #ff0000;
    transition: 0.2s;
    color: white;
}
.arrow{
    display: flex;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
}
.mainofshort{
    margin-top: 5vh;
    display: flex;
    justify-content: center;
}
.shortdetail{
    display: flex;
    width: 85vw;
    justify-content: space-between;
}

.short{
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.short h1{
    font-size: 30px;
}

.short h3 {
    font-size: 20px;
}

.shortdiv{
    display: flex;
    justify-content: space-around;
    width: 50%;
}


.allcard{
    margin-top: 5vh;
    display: flex;
    justify-content: center;
}

.serch{
    margin-top: 5vh;
    width: 85vw;
}

.serch input{
    padding: 15px;
    width: 30vw;
    border-radius: 15px;
    border: none;
    background-color: var(--DRAK-BALCK);
    margin-right: 20px;
    color: white;
}
::placeholder{
    color: white;
}

.serch button {
    background-color: white;
    color: black;
    padding: 15px 3vw;
    border: none;
    border-radius: 15px;
}

.cardsdeatil{
    margin-top: 5vh;
    background-color: var(--LIGHT-BALCK);
}
.eventdiv{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.eventheading{
    height:10vh;
    width: 85vw;
    color: white;
    margin-top: 3vh;
    display: flex;
    font-size: 30px;
    align-items: center;
    border-top: 3px solid var(--DRAK-BALCK);
    border-bottom: 3px solid var(--DRAK-BALCK);
}
.cards{
    width: 85vw;
    display: flex;
    flex-wrap: wrap;
}
.card{
    margin: 10px;
    width: calc(33.33% - 25px);
    height: 280px;
    background-color: var(--DRAK-BALCK);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    color: white;
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.5);
}

.card img,h2 {
    margin: 10px;
} 

.card img {
    border-radius: 20px;
    height: 152px;
}
.card p {
    margin-left: 10px;
    font-size: 12px;
}

.aboutevent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 5vh;
    background-color: var(--LIGHT-BALCK);
}

.about{
    width: 85vw;
    height: 100px;
}
/* resposnive of main page yaha se hai */


@media screen and (max-width: 600px) {
    .main img{
        display: none;
    }
    .menu{
        display: none;
    }
    
    .main h1{
        font-size: 50px;
        font-weight: 900;
        margin-top: 100px;
        color: white;
    }
    
    .main p {
        color: white;
        font-size: 20px;
        font-weight: 500;
    }
    .mainbutton{
        margin-top: 5vh;
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        align-items: center;
    }

    .mainbutton button{
        font-size: medium;
        font-weight: 700;
        border-radius: 25px;
        border: none;
        width: 70vw;
    }
    

    .nav button{
        padding: 8px 20px;
        font-size: 20px;
    }

    .shortdetail{
        flex-direction: column;
    }

    .short h1{
        font-size: 25px;
    }
    
    .short h3 {
        font-size: 18px;
    }
    .shortdiv{
        margin-top: 5vh;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .serch button {
        padding: 15px 5vw;
    }
    
    .serch input{
        width: 60vw;
    }

    .cards{
        width: 85vw;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .card{
        margin: 10px;
        width: calc(100% );
        height: 280px;
        background-color: var(--DRAK-BALCK);
        border-radius: 30px;
    }
    
}


/* conact form ka css */



.contactdiv{
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
    
}
.contact {
    display: flex;
    width: 85vw;
    background-color: #161616;
    border-radius: 8px; 
}

.left{
    display: flex;
    flex-direction: column;
    width: 50vw;
    
}
.left h1{
    color: aliceblue;
}
.left h4{
        color: aliceblue;   
}
.left hr{
    width: 40vw;
    margin-bottom: 20px;

}
.form-login{
    margin-top: 3vh;
}
.form-login input[type=text] {
    background-color: #323232;
    border-radius: 24px;
    border: 1px solid black;
    width: 40vw;
    height: 50px;
    margin-bottom: 20px;
    padding-left: 10px;
    color: white;
    text-transform: uppercase;
}
#submit-button{
    width: 40vw;
    height: 50px;
    border-radius: 24px;
    border: solid black 1px;
    cursor: pointer;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
}

.form-login input::placeholder {
    color: aliceblue;
    opacity: 40%;
}

.right {
    display: flex;
    flex-direction: column;
    color: aliceblue;
    align-items:center;
}
.right-form-header{
margin-top: 120px;
margin-bottom: 25px;
text-transform: capitalize;

}
.cta-mail a{
    font-size: 2rem;
    text-decoration: none;
    margin-left: 100px;
    color: #fff;
    
}
.sympso-text{
    margin-top: 20px ;
}
.cta-last{
    margin-top: 185px;
    font-size: 24px;
}






/* footer ka css yaha se */

.footer{
    background-color: #323232;
    display: flex;
    flex-direction: column;
    width: 100vw;
    /* justify-content: center; */
    align-items: center;

}
.sub-footer{
    margin-top: 3vh;
    display: flex;
    width: 85vw;
    
}
.vmkv{ 
    width:40%;
    display: flex;
}
.vmkv h1{
    color: aliceblue;
    font-weight: 900;
    font-size: 1.5rem;
}
.info{
    display: flex;
    color: white; 
    width: 60%;
    justify-content: space-between;
}
.khatam{
    margin-top: 3vh;
    color: aliceblue;
}


@media screen and (max-width: 600px){
    .right{
        display: none;
    }

    .left{
        width: 85vw;
    }
    
    .left hr{
        width: 80vw;
        margin-bottom: 20px;
    }

    #submit-button{
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .frist{
        font-size: 10px;
        margin-right: 2px;
    }

    .footer{
        margin-top: 3vh;
    }
}

/* faltu ka css */
.abcd{
    margin-top: 3vh;
    background-color: var(--LIGHT-BALCK);
    display: flex;
   align-items: center;
    flex-direction: column;
}
sl-details{
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: 85vw;
    color: white;
    background-color: var(--LIGHT-BALCK);
}


/* pop up ka style */

/* .popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .popup-content {
    color: white;
    background-color: var(--DRAK-BALCK);
    width: 60%;
    margin: 10% auto;
    padding: 20px;
    border-radius: 5px;
    position: relative;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  

  /* table ka style */

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #323232;
    color: white;
}
th, td {
    padding: 10px;
    text-align: center;
} */

tr:nth-child(even) {
    background-color: #161616;
}


/* about the event page */
.cont {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.cont h1 {
    text-align: center;
    text-decoration: underline;
}
.cont p {
    line-height: 1.5;
}
.cont ul {
    list-style: none;
    padding-left: 0;
}
.cont li {
    margin-bottom: 10px;
}
.highlight {
    color: #ffcc00;
}